/* FloralStory.css */

.floral-story-container {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .floral-story-image {
    flex: 1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .floral-story-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .floral-story-text {
    flex: 1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .floral-story-text h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .floral-story-text p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
  }
  
  .floral-story-container:hover .floral-story-text {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
  