.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination-button {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 12px; 
  margin: 0 3px; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px; 
}

.pagination-button:hover {
  background-color: #333; 
}

.pagination-button:disabled {
  background-color: #ccc;
  color: #999; 
  cursor: not-allowed;
}
.searchbar {
  width: 400px;
  margin: 0 auto;
  border: 2px solid #333; 
  border-radius: 6px;

}