
.outerContainer {
  background-color: #f4f6f3;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 90px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.placeholder {
  font-size: 18px;
  text-align: center;
}

.heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.wishlist {
  margin-bottom: 20px;
}

.wishlist-table {
  width: calc(100% - 40px);
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.wishlist-table th,
.wishlist-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.wishlist-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.wishlist-table tbody tr:hover {
  background-color: #f5f5f5;
}
