
header {
  background-color: transparent; 
  padding: 10px 0; 
  color: #0c0c0c; 
  margin-top: -50px;
}

.home-page-header {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px; 
  color: #fff; 
}

.navbar-brand {
  color: inherit; 
  font-size: 2.5rem; 
  margin-right: 600px; 
}
.navbar-brand {
  color: inherit; 
  font-size: 2.5rem; 
  margin-right: 500px; 
  cursor: pointer; 
}


.nav-link {
  color: inherit; 
  font-size: 1.6rem; 
}

.fa-shopping-cart {
  margin-right: 5px; 
}

button {
  background-color: transparent; 
  border: none; 
  color: inherit; 
  cursor: pointer; 
  font-size: 1.6rem; 
}

button:hover {
  text-decoration: underline; 
}

.category-toggle {
  color: inherit; 
  font-size: 1.6rem; 
}

.category-menu .dropdown-item {
  color: #000 !important; 
  font-size: 1.6rem !important;
  text-decoration: none !important; 
}

.hero-header {
  background-color: transparent; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  padding: 20px; 
  color: #fff; 
}
