/* Header styles */
.header {
    background-color: #333; /* Set background color */
    padding: 10px 0; /* Add padding */
  }
  
  /* Brand logo styles */
  .navbar-brand {
    color: #fff; /* Set text color */
    font-size: 1.5rem; /* Set font size */
  }
  
  /* Navigation links styles */
  .nav-link {
    color: #fff; /* Set text color */
    font-size: 1rem; /* Set font size */
    margin-right: 20px; /* Add right margin */
  }
  
  .fa-shopping-cart {
    margin-right: 5px; /* Add right margin */
  }
  
  /* Logout button styles */
  button {
    background-color: transparent; /* Set background color */
    border: none; /* Remove border */
    color: #fff; /* Set text color */
    cursor: pointer; /* Set cursor to pointer */
    font-size: 1rem; /* Set font size */
  }
  
  button:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  