.product-card {
    position: relative;
    height: 100%;
  }
  
  .product-image {
    height: 220px; 
    object-fit: cover;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .product-name {
    text-align: center;
    margin: 0; 
    font-size: 1.2rem;
    color: #333;
  }
  
  .product-price {
    text-align: center;
    margin: 0; 
    font-size: 1rem;
    color: #666;
  }
  
  .product-details p {
    margin: 0; 
    font-size: 0.9rem;
    color: #888;
  }
  
  .wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .out-of-stock-label {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(15, 14, 14);
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .add-to-cart-button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button:disabled {
    opacity: 0.5;
    cursor: not-allowed; 
  }
  
  .add-to-cart-button.out-of-stock {
    background-color: #ccc; 
    color: #666; 
  }
  