
  .product-image {
    height: 220px; 
    object-fit: cover;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product-name {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .product-details p {
    margin-bottom: 5px !important; 
  }
  
  
  .button-container {
    margin-top: auto;
  }
  .out-of-stock-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .product-card {
    position: relative;
  }
  
  .out-of-stock-label {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .add-to-cart-button {
    opacity: 0.5;
    pointer-events: none;
  }
  